{% load thumbnail %}

<div id="comment-{{ comment.pk }}" class="media comment" data-comment-id="{{ comment.pk }}">
    {% if comment.photo %}        
        <div class="media-left">
            <a href="#">
                <img src="{% thumbnail comment.photo 100x100 crop %}" alt="" class="media-object">
            </a>
        </div>
    {% endif %}

    <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>{{ comment.message }}</p>
        &dash; 
        <a href="{% url "blog:comment_edit" comment.post.pk comment.pk %}" class="comment-form-btn" data-target-id="comment-{{ comment.pk }}">
            <small>{{ comment.updated_at }}</small>
        </a>
        <a href="{% url "blog:comment_delete" comment.post.pk comment.pk %}" class="ajax-post-confirm" data-target-id="comment-{{ comment.pk }}" data-message="삭제하시겠습니까?">
            <small>삭제</small>
        </a>
    </div>
</div>