{% extends "blog/layout.html" %}

{% block extra_body %}
    <script>            
        $(function() {
            '{% for page_number in paginator.page_range %}'
            $('#page-{{ page_number }}-btn').click(function() {
                $.get("?page={{ page_number }}")
                .done(function(html) {
                    $('#post-list-wrapper').html(html);
                    var state_obj = {};
                    var title = '';
                    var url = "?page={{ page_number }}";
                    history.pushState(state_obj, title, url);
                })
                .fail(function() {
                    console.log('fail');
                })
                .always(function() {
                    console.log('always');
                });
                return false;
            });
            '{% endfor %}'
            
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="post-list-wrapper">
                {% include "blog/_post_list.html" %}
            </div>
        </div>
    </div>
{% endblock content %}