{% extends "blog/layout.html" %}
{% load bootstrap3 %}

{% block extra_body %}
<script>
    $(function() {
        var raw_template = $('#comment-template').html();
        var tpl = _.template(raw_template);

        $('#comment-form').submit(function(e) {
            e.preventDefault();

            var $form = $(this);
            var url = $form.attr('action');
            var data = $form.serialize();

            $.post(url, data)
            .done(function(obj) {
                if(obj.is_success == false) {
                    alert(obj.message);
                }
                else {
                    $('#comment-list').prepend(tpl(obj));
                    $form[0].reset();
                }
            })
            .fail(function(xhr, textStatus, error) {
                alert('failed :' +error)
            });
        })

        $(document).on('click', '.ajax-post-confirm', function(e){
            e.preventDefault();

            var url = $(this).attr('href');
            var target_id = $(this).data('target-id');
            var message = $(this).data('message');

            if(confirm(message)) {
                $.post(url)
                .done(function() {
                    $('#' + target_id).remove();
                })
                .fail(function(xhr, textStatus, error) {
                    alert('failed : ' + error);
                });
            }
        });
    });
</script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ post.title }}</h1>
                
                {{ post.content|linebreaks }}
                
                <hr>

                <form id="comment-form" action="{% url "blog:comment_new" post.pk %}" method="post">
                    {% csrf_token %}

                    {% bootstrap_form comment_form %}
                    <input type="submit" class="btn btn-primary btn-block">
                </form>                
                
                <ul id="comment-list">
                    {% for comment in post.comment_set.all %}
                        <li id="comment-{{ comment.pk }}">
                            {{ comment.message }}
                            &dash; 
                            <a href="{% url "blog:comment_edit" post.pk comment.pk %}">
                                <small>{{ comment.updated_at }}</small>
                            </a>
                            <a href="{% url "blog:comment_delete" post.pk comment.pk %}" class="ajax-post-confirm" data-target-id="comment-{{ comment.pk }}" data-message="삭제하시겠습니까?">
                                <small>삭제</small>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                
                <hr>
                
                <a href="{% url "blog:index" %}" class="btn btn-primary">목록</a>
                <a href="{% url "blog:post_edit" post.pk %}" class="btn btn-primary">수정</a>
                <a href="{% url "blog:post_delete" post.pk %}" class="btn btn-danger">삭제</a>
            </div>
        </div>
    </div>

    <script type="text/x-template" id="comment-template">
        <li id="comment-<%= id %>">
            <%= message %>
            &dash;
            <a href="<%= edit_url %>">
                <small><%= updated_at %></small>
            </a>
            <a href="<%= delete_url %>"
                class="ajax-post-confirm"
                data-target-id="comment-<%= id %>"
                data-message="정말 삭제하시겠습니까?">
                <small>삭제</small>
            </a>
        </li>
    </script>
{% endblock %}